body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f5f5f5;
  background-image: url("img/teste.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #fff;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #e0e0e0;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.form-container,
.filter-container {
  margin: 20px 0;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.form-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.filter-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 250px;
}

.form-group label {
  width: 100px;
  font-weight: bold;
  margin-right: 10px;
}

.form-group input,
.form-group select {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-sizing: border-box;
  min-width: 150px;
}

button {
  padding: 10px 20px;
  background-color: #1f8623;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #2ca732;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.button-group.filter-buttons {
  justify-content: flex-end;
  flex-wrap: wrap;
}

.orcamento-group {
  position: relative;
}

.orcamento-group input {
  padding-left: 30px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.orcamento-group::before {
  content: "R$";
  position: absolute;
  left: 115px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  font-weight: bold;
  pointer-events: none;
}

@media (max-width: 768px) {
  .form-row,
  .filter-row {
    flex-wrap: wrap;
  }

  .form-group {
    flex: 1 1 100%;
  }

  .form-group input,
  .form-group select {
    width: 100%;
  }

  .button-group.filter-buttons {
    justify-content: flex-start;
  }

  .button-group button {
    flex: 1 1 100%;
    margin-bottom: 10px;
  }

  .orcamento-group::before {
    left: 110px;
  }
}

/* Estilização para impressão */
@media print {
  .form-container,
  .filter-container,
  .button-group {
    display: none;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th,
  td {
    border: 1px solid #000;
  }
}
